* {
	box-sizing: border-box;
}

html,
body {
}

body {
	background-image: url("https://images.unsplash.com/photo-1549571558-7ca00bbd1b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
}

header {
	height: 75px;
	background: #ffffff;
	border-bottom-color: #cccccc;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 30px;
	box-sizing: content-box;
}

article {
	padding: 20px;
	width: 960px;
	background: #ffffff;
	border: #dddddd;
	border: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

section {
}

p {
	margin-bottom: 1rem;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	font-size: 28px;
	font-weight: bolder;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

hr {
	margin-bottom: 30px;
}

/* Keeps header elements the same width as the body of the page */
.headerwrapper {
	width: 960px;
	margin: 0 auto;
	height: 75px;
}

/* Styles my name in the header - white font with teal background */
.h1header {
	background: #4aaaa5;
	color: #ffffff;
	height: 75px;
	width: fit-content;
	float: left;
	padding: 20px;
}

.navheader {
	float: right;
	height: 75px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Changes h1 style use teal font */
.h1article {
	color: #4aaaa5;
}

.articlewrapper {
	margin: 0 auto;
	width: 960px;
	border: 1px solid #dddddd;
	/* min-height: 100%; */
	/* overflow: auto; */
}

.articlewrapper2 {
	/* padding: 20px; */
	padding-bottom: 50px;
	background: #ffffff;
}

.profilepic {
	float: left;
	width: 20%;
	margin-right: 20px;
	margin-bottom: 20px;
}

.port {
	margin-right: 30px;
	margin-bottom: 60px;
	float: left;
	height: 200px;
	width: 300px;
	position: relative;
}

.portimage {
	width: 300px;
}

.portlabel {
	position: absolute;
	bottom: 10px;
	left: 0;
	z-index: 1;
	height: 55px;
	width: 300px;
	background: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

.footer {
	clear: both;
	height: 50px;
	background: #666666;
	text-align: center;
	padding: 20px;
	border-top-color: #4aaaa5;
	border-top-style: solid;
	border-top-width: 7px;
	margin-top: 30px;
}
